$tnemecolor_1: #1FA774;
$tnemecolor_2: #90E4C1;
$tnemecolor_3: #FFD1DF;

.theme3 {
  background-color: $tnemecolor_3;
  color: gray;
}
.theme2 {
  background-color: $tnemecolor_2;
  
}
.theme1 {
  background-color: $tnemecolor_1;
}
.pad5{
  padding: 5%;
}
.pad50{
  padding: 50%;
}