$tnemecolor_1: #1FA774;
$tnemecolor_2: #90E4C1;
$tnemecolor_3: #FFD1DF;

.pad1{
  padding: 1%;
}
.pad5{
  padding: 5%;
}
.pad10{
  padding: 10%;
}
.px10py3{
  padding:3em, 5em;
}
.pad15{
  padding: 15%;
}
.pad20{
  padding: 20%;
}
.pad25{
  padding: 25%;
}
.pad50{
  padding: 5%;
}
.movie-wrap {
  position: relative;
  padding-bottom: 56.25%; /*アスペクト比 16:9の場合の縦幅*/
  height: 0;
  overflow: hidden;
}

.bg_choose_copy{
  background-color: rgb(27, 167, 211);
  font-family: "メイリオ", sans-serif;
}
.bg_choose_ground{
  background-color: rgb(27, 167, 211);
  background-image: url("../img/Choose/ground_Front.png");
  background-position: center 100%;
  background-size:auto 100%;
  background-repeat: repeat-x;
}
.bg_choose_ground_rev{
  background-color: rgb(27, 167, 211);
  background-image: url("../img/Choose/ground_Front_rev.png");
  background-size:auto 100%;
  background-position: center 0%;
  background-repeat: repeat-x;
}
.bg_choose_basic{
  background-color: rgb(34, 31, 33);
  color: #fff;
  line-height: 2;
  
}

.choose_copy{
  color: #fff;
}

.movie-wrap iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

body{
  font-family: 'Noto Sans JP', sans-serif;
}

body::after {
  content: '';
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color:#fff;  
  z-index: 9999;  
  pointer-events: none;  
  opacity: 0;  
  -webkit-transition: opacity .8s ease;  
  transition: opacity .8s ease;
}
 
 
 
body.fadeout::after {
  opacity: 1;
}
 
 
 
body.fadeout article{
  -webkit-transform:scale(1.2);
  transform:scale(1.2);
}