<body class="container-fluid " >
    <main class=" mx-2 " data-aos="fade-in">
        <div >
          <div class="p-3 p-sm-5 my-4 rounded theme2 text-center">
            <h1>500 error</h1>
          </div>
        </div>
        
    </main>
    <div class ="container pad50" data-aos="fade-in">
      <p>サーバー処理中にエラーが発生しました。時間を置くか、URLを確める等お願いいたします。</p>
    </div>
  </body>