<%- include( '../templates/headInclude',{absPath:"pages/games/index"}) %>
<%- include("../templates/navBar",null) %>
  <body class="container-fluid " >
    <main class=" mx-2 " data-aos="fade-in">
      <div >
        <div class="p-3 p-sm-5 my-4 rounded theme2 text-center">
          <h1>チューズ</h1>
        </div>
      </div>
      
  </main>
    <br>
  <div class="container justify-content-center text-center" data-aos="fade-in">

    <div class="movie-wrap">
      <iframe  width="426" height="240"  src="https://www.youtube.com/embed/JEvm1YhBAlA" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
    
  </div>
    <div class ="container pad50" data-aos="fade-in">
      <p>2021年日本ゲーム大賞アマチュア部門に向けて制作したパズルゲームです。</p>
      PL二人とPG二人と私の五人のチーム。<br>
      私はゲームエンジン部分と一部演出、シェーダによる見た目作りを担当しました。<br>
      テーマである「メビウスの輪」を最大限活かすゲームデザイン、その形状をしっかりとゲーム体験へと落とし込む実装、プレイヤーの閃きを刺激する丁寧なレベルデザインがウリとなっています。<br>
      ゲーム大賞は二次審査で落ちましたが、BitSummit THE 8th BITへ参加、展示させていただきました。<br>
      BitSummit、TGSへの出展が切っ掛けとなってファミ通、電撃オンライン、4Gamerの共同企画<a href="https://www.famitsu.com/news/202110/06236314.html">「TGSメディアアワード2021」</a>の特別賞に選出されたり、校外の方に多く評価していただいたゲームです。<br>
      DirectX12とc++で制作しました。<br>
      <p>ゲームデザイン:<a href="https://twitter.com/kumagoro_game" target="_brank">@kumagoro_game</a><br>
      レベルデザイン:<a href="https://twitter.com/ama_C_bashi" target="_brank">@ama_C_bashi</a><br>
      プログラマ(ゲーム挙動):<a href="https://twitter.com/mendelic_y" target="_brank">@mendelic_y</a><br>
      プログラマ(演出):<a href="https://twitter.com/kocha_PG" target="_brank">@kocha_PG</a></p>
    </div>
  </body>
  <%- include("../templates/footer",{right:"© 2021 Buti_PG"}) %>