<body class="container-fluid " >
    <main class="text-center"  data-aos="fade-in">
        <h1>-Techs-</h1>
    <div class="container pad5">
      
      <div id="carousel" class="carousel slide col-sm " data-bs-ride="carousel" interval="2000" mx-300>
        <ol class="carousel-indicators">
          <li data-bs-target="#carousel" data-bs-slide-to="0" class="active"></li>
          <li data-bs-target="#carousel" data-bs-slide-to="1"></li>
          <li data-bs-target="#carousel" data-bs-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <a href="/techs/tech_3DtoDot/"><img src="../img/3DtoDot.png"  class="d-block w-100" alt="3Dモデルをドット絵にする"></a>
          </div>
          <div class="carousel-item">
            <a href="/techs/tech_3DtoDot/"><img src="../img/3DtoDot.png"  class="d-block w-100" alt="3Dモデルをドット絵にする"></a>
          </div>
          <div class="carousel-item">
            <a href="/techs/tech_3DtoDot/"><img src="../img/3DtoDot.png"  class="d-block w-100" alt="3Dモデルをドット絵にする"></a>
          </div>
        </div>
        <a class="carousel-control-prev" href="#carousel" role="button" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carousel" role="button" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </a>
      </div>
    </div>
    
</main>
  </body>